<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-bottom: 1em;">
  <div class="container-fluid">

    <a class="navbar-brand" >{{texts.navbar.name_app}}</a>
        
    <div class="nav navbar-nav navbar-right" >
        <form class="form-inline mt-2 mt-md-0">
          <button class="btn btn-sm btn-outline-secondary" 
              type="submit"
              (click)="logout()"
              > {{texts.navbar.logout_button}}
          </button>
        </form>

        <div class ="nav-item dropdown">
          <p *ngIf = "!seletedLanguage" 
              class="nav-link " 
              id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false">
            Español
          </p>
          <p *ngIf = "seletedLanguage" 
            class="nav-link " 
            id="navbarDropdown" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true"
             aria-expanded="false">
            English
          </p>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)= "setSpanish()" >Español</a>
            <a class="dropdown-item" (click)= "setEnglish()">English</a>
          </div>
    
        </div>

      </div>
  </div>
</nav>
