<div class = "container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form class="form-conatiner">
                <h1 class="h3 mb-3 font-weight-normal">Por favor inicie sesion</h1>
                <label for="inputEmail" class="sr-only">Correo Electroníco</label>
                <input  #boxEmail 
                    value= {{email}}  
                    (keyup)="onKeyEmail(boxEmail.value)" 
                    type="email" id="inputEmail" 
                    class="form-control margin-bottom-1em margin-top-1em" 
                    placeholder="Correo Electroníco" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input  #boxPassword  
                    value= {{password}} 
                    (keyup)="onKeyPassword(boxPassword.value)" 
                    type="password" id="inputPassword" 
                    class="form-control margin-bottom-1em" 
                    placeholder="Password" required>
                <button type="button" 
                    class="btn btn-primary btn-block margin-top-1em"
                    (click) = "login()"
                >
                Ingresar
                </button>
                <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
              </form>

        </section>

    </section>

</div>

<!-- <form>
    <input #boxEmail
        class="form-group"
        value= {{email}}
        placeholder="Email"
        (keyup)="onKeyEmail(boxEmail.value)"
        >
    <input #boxPassword
        class="form-group"
        value= {{password}}
        placeholder="Contraseña"
        (keyup)="onKeyPassword(boxPassword.value)"
        >
   

</form> -->
