.form-conatiner {
    position: absolute;
    top: 15vh;
    background: #fff;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
}

.margin-top-1em{
    margin-top: 2em;
}
.margin-bottom-1em{
margin-bottom: 1em;
}