<app-navbar></app-navbar>

<div class = "jumbotron" style="margin-top: 0em; margin-bottom: 0em;">
    <h1>{{this.language.getLanguage().dashboard.title_texting}}</h1>
    <form>
        <div class="form-group row">
                    
            <div class="col-sm-10" style="padding-bottom: 1em;" >
                <input #boxTitle
                    class="form-control"
                    value= {{title}}
                    placeholder={{this.language.getLanguage().dashboard.input_name_text}}
                    (keyup)="onkeyTitle(boxTitle.value)"
                    >
            </div>
            <div class="col-sm-10">
                <input #boxDescription
                    class="form-control"
                    value= {{description}}
                    placeholder={{this.language.getLanguage().dashboard.input_description_text}}
                    (keyup)="onKeyDescription(boxDescription.value)"
                    >
    
            </div>
            <button type="button" 
                class="btn btn-primary mb-2"
                (click) = "addItem()">
                {{this.language.getLanguage().dashboard.button_add_txt}}
            </button>
        </div>
        

    </form>

    <ul class="list-group"
        dragula ="ITEMS"
        [dragulaModel]="items"
        (dragulaModelChange)="items = $event"
    >
        <li class="list-group-item"
            *ngFor="let item of items; let i = index"
        >
            <h2 class = "handle">{{item.title}}</h2>
            <p>{{item.description}}</p>
        </li>

    </ul>
</div>

<!-- <h3> Salida </h3>
<dir>
    {{items|json}}
</dir> -->


