<div>
    <button (click)="compressFile()">Upload and compress Image</button>
    <img *ngIf="imgResultBeforeCompress" [src]="imgResultBeforeCompress" alt="">
    <img *ngIf="imgResultAfterCompress" [src]="imgResultAfterCompress" alt="">
  </div>
